<div class="search">
    <div>
        <label>종목 검색 </label>
        <select class="select2" name="test">
            <option value="1">test1</option>
            <option value="2">test2</option>
            <option value="3">test3</option>
        </select>
    </div>
    <div>
        <div class="form-group">
            <label>From EPS</label>
            <input type="text" class="form-control"  />
        </div>
        <div class="form-group">
            <label>To EPS</label>
            <input type="text" class="form-control"  />
        </div>
    </div>
    <button type="button" class="btn btn-primary">OK</button>
</div>