<div class="table-responsive-lg">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>기업명</th>
                <th>종목코드</th>
                <th>EPS</th>
                <th>ROE</th>
                <th>자산총계</th>
                <th>당기순이익</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
        </tbody>
    </table>
</div>