<h1 class="header-title">
    <a href="/">CHANI</a>
</h1>
<div id="category">
    <ul class="list-group">
        <li class="list-group-item">List</li>
        <li class="list-group-item">Chart</li>
    </ul>
</div>