<!DOCTYPE html>
<html lang="ko">
    <%- include('layouts/head') %>
    <body>
        <div id="redundant">
            <%- include('layouts/header') %>  
            <div id="body">
                <% switch (body) {
                    case 'INDEX': %>
                        INDEX PAGE
                        <% break; %>
                    <% case 'LIST': %>
                        <%- include('partials/list/index') %>
                        <% break; %>
                <% } %>
            </div>
        </div>
    </body>
    <%- include('layouts/footer') %>
</html>