<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('layouts/head') %>
    </head>
    <body>
        <div id="redundant">
            <div id="header">
                <%- include('layouts/header') %>  
            </div>
            <div id="body">
                <p>bdddysd</p>
            </div>
        </div>
    </body>
    <footer id="footer">
        <%- include('layouts/footer') %>
    </footer>
</html>