<!DOCTYPE html>
<html lang="ko">
    <head>
        {{> head }}
    </head>
    <body>
        <div id="header">
            {{> header }}
        </div>
        <div id="body">
            <p>body</p>
        </div>
    </body>
</html>