@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
}

hr {
    border: none;
    height: 0.07rem;
    background-color: black;
    margin: 0rem auto 0.5rem auto;
    width: 70%;
}

.header {
    margin-bottom: 3rem;
}

.header-title {
    text-align: center;
    font-size: 5rem;
}

.category {
    justify-content: center;
    font-size: 1.1rem;
}