<div id="header">
    <h1 class="header-title">
        <a href="/">CHANI</a>
    </h1>
    <div id="category">
        <ul>
            <li><a href="list">List</a></li>
            <li><a href="chart">Chart</a></li>
        </ul>
    </div>
</div>