html, body {
    height: 100%;
    padding: 0;
}

#header { text-align: center; }

#redundant { display: flex; min-height: 100vh; flex-direction: column; }

#body { flex: 1; }

#footer {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.header-title {
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.header-title > a { color: black; text-decoration: none; }

#category > ul { list-style-type: none; }
#category > ul > li { display: inline; }
#category > ul > li > a {
    color: #999999;
    text-decoration: underline;
    font-size: 1.2rem;
    padding-right: 1rem;
    letter-spacing: 0.1rem;
}

#body {
    margin-top: 4rem;
}